@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&display=swap');

:root {
    --dark:  #121212;
    --dark-grey: #1F1F1F;
    --light-grey: #2A2A2A;
    --very-light-grey: #3F3F3F;
    --off-white: #FAF0F0;
    --blue: #325EA8;
    --dark-blue: #2C1D78;
}

* {
    font-family: "Montserrat", sans-serif;
    color: var(--off-white);
}

body {
    background-color: var(--dark-grey);

    margin: 0px;
    padding: 0px;

    width: 100vw;
    max-width: 100%;
}

a {
    transition: all 0.4s ease-out;

    width: fit-content !important;
}

a:hover {
    color: var(--off-white);

    border-bottom: var(--blue) 2px solid;
}

i {
    transition: all 0.4s ease-out;
}

i:hover {
    color: var(--blue);
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 400%;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 300%;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 250%;
}

h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 200%;
}

h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 150%;
}

#header {
    padding: 0px;
    margin: 0px;
    background: var(--dark-grey);   

    width: 100%;

    z-index: 9;

    transition: all 0.4s ease-out;
}

#header-placeholder {
    height: 91px;
    width: 100%;
    display: none;
}

#header.scrolled {
    position: fixed;
    top: 0;
    background: var(--light-grey) !important;
    box-shadow: 0 0 48px #000 !important;
}

#info {
    margin-top: 140px;

    height: 2000px;
}

#home-contact {
    margin-top: 12px;
    padding-top: 12px;
}

#home-links {
    margin-top: 92px;
}

#home-links i {
    font-size: 200%;
}

#home-contact a {
    color: var(--off-white);
    border-bottom: none;
    font-size: 125%;
}

#home-contact a:hover {
    color: var(--blue);
}

#projects-header {
    padding-left: 12px;
    margin-bottom: 24px;
}

#footer {
    margin-top: 100px;
    background-color: var(--blue);
    text-align: center !important;
}

#footer li:first-child {
    border-left: none !important;
}

#footer li {
    border-left: var(--very-light-grey) 2px solid;
}

#footer h4 {
    margin: 0 auto;
}

#footer i:hover {
    color: var(--light-grey);
}

.tabs {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 0 20px;
    list-style-type: none;
}

.tabs-item a:hover {
    border-bottom: none;
}

.tabs-item-link {
    position: relative;
    display: block;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 700;
    color: var(--off-white);
    text-transform: uppercase;
    text-decoration: none;
}

.tabs-item-link:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 4px;
  background-color: var(--blue);
  border-radius: 2px;
  margin: auto;
  content: "";
  transition: width 0.4s;
}

.tabs-item-active:after {
    width: 100%;
}

.section:first-child {
    margin-top: 200px;
}

.section {
    width: 100vw;

    margin-top: 400px;

    display: none;
}

.section h1, h2, h3, h4 {
    border-bottom: var(--blue) 4px solid;
    width: fit-content;
}

.section li {
    padding-top: 12px !important;
}

.card {
    background-color: #0A0A0A !important;

    box-shadow: 0 0 48px #000 !important;
}

.card div {
    color: var(--off-white) !important;
}

.card .header {
    color: var(--blue) !important;
}

.card .meta {
    color:  var(--blue) !important;
}

.ui.card>.extra, .ui.cards>.card>.extra {
    border-top: 1px solid rgba(200, 200, 200, 0.1) !important;
}

.language {
    padding: 12px !important;

    border-radius: 8px;
    border: var(--blue) 2px solid;

    cursor: pointer;
    transition: all 0.4s ease-out;
}

.language:hover {
    background-color: var(--blue);
}

.description {
    word-wrap: break-word;
}

.form label, textarea {
    color: var(--off-white) !important;
}

.form .field input, textarea {
    background-color: var(--light-grey) !important;
}

.button {
    color: var(--off-white) !important;
    background-color: var(--light-grey) !important;
    transition: all 0.4s ease-out !important;
}

.button:hover {
    background-color: var(--blue) !important;
    color: var(--light-grey) !important;
}
